.toCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.inputButtonPair {
    display: flex;
    justify-content: center;
}
.input {
    width: 80% !important;
    text-align: center;
    margin: 5px !important;
}
.button {
    width: 20% !important;
    margin: 5px !important;
}
.full {
    width: 100% !important;
    height: 100% !important;
}
.darkModeContainer {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    margin: 5px !important;
    padding-right: 5px;
}
.chartContainer {
    display: flex;
    justify-content: center;
    width: 70%;
}